
body {
    background-color: rgba(251, 242, 219, 0.743);
    
    
}
h1 {
    border:5px solid rgba(77, 9, 9, 0.041);
 
    border-left: 10px solid rgb(245, 145, 32);
    border-right: 10px solid rgb(245, 145, 32);

    background-color: rgba(250, 170, 78, 0.694);
    text-align: center;
    padding: 3%;
    margin: 1%;
    border-radius: 0px;
}

@media (max-width: 600px) {
    h1 {
    border:5px solid rgba(0, 0, 0, 0);
  
    border-left: 1vw solid rgb(245, 145, 32);
    border-right: 1vw solid rgb(245, 145, 32);

    background-color: rgba(250, 170, 78, 0.694);
    text-align: center;
    font-size: 1rem;
    padding: 5vw;
    margin: 4vw;
    border-radius: 0px;
}
}


#h2d {
border:1px solid rgba(251, 236, 218, 0);
border-width: 1vw;
background-color: rgba(28, 39, 231, 0.799);
text-align: center;
    padding: 10px 20px 30px 20px;
    margin: 40px 40px 40px 30vw;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media (max-width: 600px) {
#h2d {
border:1px solid rgba(251, 236, 218, 0);
border-width: 1vw;
background-color: rgba(28, 39, 231, 0.799);
text-align: center;
font-size: 0.3rem;
padding: 2vw 3vw 3vw 3vw;
    margin: 4vw 4vw 4vw 40vw;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
}

#h3d {
border: 4px solid rgba(251, 236, 218, 0);
    background-color:rgba(236, 12, 12, 0.875);
    text-align: center;
    padding: 10px 20px 30px 20px;
    margin: 40px 40vw 40px 40px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
@media (max-width: 600px) {
#h3d {
border: 4px solid rgba(251, 236, 218, 0);
    background-color:rgba(236, 12, 12, 0.875);
    text-align: center;
  font-size: 0.3rem;
    padding: 2vw 3vw 3vw 3vw;
    margin: 4vw 40vw 4vw 4vw;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
} 
}
#h4d {
border: 4px solid rgba(251, 236, 218, 0);

    background-color: rgba(8, 234, 16, 0.694);
    text-align: center;
    padding: 10px 20px 30px 20px;
    margin: 40px 40px 40px 30vw;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media (max-width: 600px) {
#h4d {
border: 4px solid rgba(251, 236, 218, 0);

    background-color: rgba(8, 234, 16, 0.694);
    text-align: center;

    font-size: 0.3rem;
    padding: 2vw 3vw 3vw 3vw;
    margin: 4vw 4vw 4vw 40vw;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
}    #h5d {
border: 4px solid rgba(251, 236, 218, 0);
    background-color: rgba(241, 64, 167, 0.792);
    text-align: center;
    padding: 10px 20px 30px 20px;
    margin: 40px 40vw 40px 40px;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media (max-width: 600px) {
#h5d {
border:1px solid rgba(251, 236, 218, 0);
border-width: 1vw;
background-color: rgba(241, 64, 167, 0.792);
text-align: center;
font-size: 0.14rem;
padding: 2vw 3vw 3vw 3vw;
    margin: 4vw 40vw 4vw 4vw;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
}
#h6d {
border: 4px solid rgba(251, 236, 218, 0);
    background-color: rgba(18, 103, 240, 0.764);
    text-align: center;
    padding: 10px 20px 30px 20px;
    margin: 40px 40px 40px 30vw;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

@media (max-width: 600px) {
#h6d {
border:1px solid rgba(251, 236, 218, 0);
border-width: 1vw;
background-color: rgba(18, 103, 240, 0.764);
text-align: center;
font-size: 0.1rem;
padding: 2vw 3vw 3vw 3vw;
    margin: 4vw 4vw 4vw 40vw;
    border-radius: 30px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
}

footer {


    border:5px solid rgba(77, 9, 9, 0.041);
border-left: 10px solid rgb(245, 145, 32);
    border-right: 10px solid rgb(245, 145, 32);

    background-color: rgba(250, 170, 78, 0.694);
    text-align: center;
    padding: 2%;
    margin: 1%;
 
  
    border-radius: 0px;
}

@media (max-width: 600px) {
    footer {
    border:5px solid rgba(0, 0, 0, 0);
  
    border-left: 1vw solid rgb(245, 145, 32);
    border-right: 1vw solid rgb(245, 145, 32);

    background-color: rgba(250, 170, 78, 0.694);
    text-align: center;
    font-size: 0.3rem;
    padding: 3vw;
    margin: 4vw;
    border-radius: 0px;
}


